@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar{
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Montreal-Bold";
  font-style: bold;
  src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Montreal-Thin";
  font-style: bold;
  src: url("/fonts/PPNeueMontreal-Thin.otf") format("opentype");
}